In [1]:
odd = [1, 3, 5, 7, 9]
print(odd)

[1, 3, 5, 7, 9]

In [2]:
b = ["life", "is", "too", "short"]
c = [1, 2, "life", "is"]
d = [1, 2, ("life", "is")]

In [6]:
#리스트의 인덱싱

a = [1, 2, 3]
print(a[0])
print(a[1])
print(a[2])
print(a[-1])

1
2
3
3

In [9]:
a = ["life", "is", "too", "short"]
a[0][2]

'f'

In [12]:
d = [1, 2, ("life", "is")]
a[1][1]

's'

In [15]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[2:5]

[3, 4, 5]

In [18]:
# 리스트의 더하기와 곱하기
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)
print(a * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
len(a)

3

In [21]:
a = [1, 2, 3]
a[0] + " hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
a = [1, 2, 3]
a[1] = 5
print(a)

[1, 5, 3]

In [24]:
del a[2]
print(a)

[1, 5]

In [26]:
### 리스트 관련 함수
# appendgkatn

a = [1, 2, 3, 4]
a.append(5)
a.append("hi")
a.append([6, 7])
a

[1, 2, 3, 4, 5, 'hi', [6, 7]]

In [30]:
# sort 함수
a = [1, 3,4, 2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [28]:
# reverse()
a = ["short", "too", "is", "life"]
a.reverse
a

['short', 'too', 'is', 'life']

In [33]:
# insert(a, b) 함수
# a번째 요소에 b를 삽입

a = [1, 2, 3]
a.insert(0, 4)
print(a)
a.insert(1, [5, 6])
print(a)

[4, 1, 2, 3]
[4, [5, 6], 1, 2, 3]

In [34]:
# remove() 함수
# 첫번째로 나오는 a 값을 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [37]:
# pop() 함수
# 마지막 요소를 리턴
a = [1, 2, 3]
print(a.pop())

print(a)

3
[1, 2]

In [38]:
# count(a)
# a가 몇개있는지 알려주는 함수

a = [1, 2, 3, 2]
a.count(2)

2

In [40]:
# extend()
# 확장하는 함수
a = [1, 2, 3]
b = [4, 5, 6]

a.extend(b)
a

[1, 2, 3, 4, 5, 6]